# Rust build artifacts
/target
Cargo.lock

# CMake build artifacts
/build
/cmake-build-*

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Qt Creator
*.user
*.autosave

# OS files
.DS_Store
Thumbs.db

# Config (should be user-specific)
*.local.toml
build-qt/ALL_BUILD.vcxproj
build-qt/ALL_BUILD.vcxproj.filters
build-qt/cmake_install.cmake
build-qt/CMakeCache.txt
build-qt/INSTALL.vcxproj
build-qt/INSTALL.vcxproj.filters
build-qt/myme-qt.vcxproj
build-qt/myme-qt.vcxproj.filters
build-qt/myme.sln
build-qt/ZERO_CHECK.vcxproj
build-qt/ZERO_CHECK.vcxproj.filters
build-qt/.qt/QtDeploySupport-Debug.cmake
build-qt/.qt/QtDeploySupport-MinSizeRel.cmake
build-qt/.qt/QtDeploySupport-Release.cmake
build-qt/.qt/QtDeploySupport-RelWithDebInfo.cmake
build-qt/.qt/QtDeployTargets-Debug.cmake
build-qt/.qt/QtDeployTargets-MinSizeRel.cmake
build-qt/.qt/QtDeployTargets-Release.cmake
build-qt/.qt/QtDeployTargets-RelWithDebInfo.cmake
build-qt/CMakeFiles/cmake.check_cache
build-qt/CMakeFiles/CMakeConfigureLog.yaml
build-qt/CMakeFiles/generate.stamp
build-qt/CMakeFiles/generate.stamp.depend
build-qt/CMakeFiles/generate.stamp.list
build-qt/CMakeFiles/TargetDirectories.txt
build-qt/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
build-qt/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
build-qt/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
build-qt/CMakeFiles/3.30.5/CMakeSystem.cmake
build-qt/CMakeFiles/3.30.5/VCTargetsPath.txt
build-qt/CMakeFiles/3.30.5/VCTargetsPath.vcxproj
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/CompilerIdCXX.exe
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/CompilerIdCXX.vcxproj
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build-qt/CMakeFiles/3.30.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build-qt/CMakeFiles/3.30.5/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build-qt/CMakeFiles/3.30.5/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build-qt/CMakeFiles/30b9006b3eaa58c151e71352aa687b30/generate.stamp.rule
build-qt/CMakeFiles/30b9006b3eaa58c151e71352aa687b30/INSTALL_force.rule
build-qt/myme-qt.dir/Release/main.obj
build-qt/myme-qt.dir/Release/myme-qt.tlog/CL.command.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/CL.read.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/CL.write.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/CustomBuild.command.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/CustomBuild.read.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/CustomBuild.write.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/link.command.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/link.read.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/link.write.1.tlog
build-qt/myme-qt.dir/Release/myme-qt.tlog/myme-qt.lastbuildstate
build-qt/myme-qt.dir/Release/myme-qt.tlog/unsuccessfulbuild
build-qt/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build-qt/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build-qt/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build-qt/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build-qt/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
